.navigation{
    background-color: white;
    margin-top: 24px;
    .navigation_one{
        min-height: 48px;
        margin-bottom: -1px;
        padding: 0 24px;
        color: #333;
        font-weight: 500;
        font-size: 16px;
        background: transparent;
        border-bottom: 1px solid #f0f0f0;
        border-radius: 2px 2px 0 0;
        .ant-card-head-wrapper{
            display: flex;
            align-items: center;
            .ant-card-head-title{
                display: inline-block;
                flex: 1;
                padding: 16px 0;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
    .navigation_two{
        .ant-row{
            display: flex;
            .nav{
                cursor: pointer;
                padding: 2rem 1rem;
                text-align: center;
                display: block;
                flex: 0 0 16.66666667%;
                max-width: 16.66666667%;
                a{
                    color: black;
                }
            }
        }
    }
}