.contents {
  min-height: 100vh;
  background: var(--bg-body);
}

.categoryList {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 970px;
  max-height: 2427px;

  .listLeft {
    flex: 1;
    width: calc(100% - 20rem - 1rem);
    padding-top: 1rem;
    padding-bottom: 1rem;

    .categoryTop {
      padding: 16px 0;
      margin-bottom: 1rem;
      background: var(--bg-second);
      text-align: center;
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow);

      p:nth-child(1) {
        margin-top: 0.5rem;

        span {
          color: var(--primary-color);
          font-size: 1.5rem;
        }
      }

      p:nth-child(2) {
        margin-bottom: 0;

        span {
          color: var(--primary-color);
          font-size: 1.1rem;
        }
      }
    }
  }

  .listRight {
    width: 20rem;
    margin-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.categoryContainer {
  width: 100%;
  padding: 1rem;
  background-color: var(--bg-second);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  padding: 16px;

  .containerLeft {
    position: relative;

    .leftContent {
      opacity: 1;
      margin-top: 1rem;
    }
  }
}

.contentTop {
  display: flex;
  align-items: center;

  h3 {
    color: var(--main-text-color);
    overflow: hidden;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
  }

  span {
    color: #8590a6;
    padding: 0 8px;
    line-height: 22px;
  }
}
.content_be {
  display: flex;
  flex-wrap: nowrap;
  padding: 12px;
  border-bottom: 1px solid #eee;

  .img {
    position: relative;
    flex: 0 0 auto;
    width: 190px;
    max-height: 150px;
    min-height: 100px;
    border-radius: var(--border-radius);
    margin-right: 1rem;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      width: 100%;
      transform: translate3d(-50%, -50%, 0);
      object-fit: cover;
    }
  }
  .spans {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p:nth-child(1) {
      display: -webkit-box;
      max-width: 100%;
      color: var(--main-text-color);
      overflow: hidden;
      font-size: 14px;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    p:nth-child(2) {
      width: 100%;
      color: #8590a6;
      font-size: 14px;
      line-height: 20px;
      margin-top: 0.8rem;
    }
  }
}
