.outermost{
    width: 100%;
    height: 128px;
    background: #fff;
    box-sizing: border-box;
    margin-top: 24px;
}

.middle{
    width: 100%;
    height: 65px;
    padding:24px 12px;
    display: flex;
    .designation{
        height: 40px;
        margin-right: 16px;
        margin-bottom: 0;
        padding-left:12px;padding-right:12px;
        span{
            width: 58.2px;
        }
        input{
            width: 174px;
            height:32px;
            outline: none;
            border: none;
            border: 1px solid #ccc;
        }
    }
    .genre{
        display: block;
        height: 65px;
        margin-right: 16px;
        margin-bottom: 0;
        padding-left:12px;
        padding-right:12px;
        span{
            width: 58.2px;
        }
        input{
            width: 174px;
            height: 32px;
           border: none;
           outline: none;
           border: 1px solid #ccc;
        }
    }
}

.designation .ant-input{
    width: 187px;
}


.buttons{
    margin-left: -12px; 
    margin-right: -12px; 
    row-gap: 0px;
    div{
        padding-left:12px;
        padding-right:12px;
        text-align:right;
    }
}