.ant-upload.ant-upload-drag {
    position: relative;
    background: #fff !important;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #fafafa;
    border: 1px dashed #d9d9d9;
    border-radius: 2px;
    cursor: pointer;
    transition: border-color .3s;
    margin-top:20px;
}

.ant-upload.ant-upload-drag .ant-upload-btn {
    display: table;
    height: 100%;
}