.files{
    margin: 24px 16px;
}

.content{
    width: 100%;
    height: 995px;
    margin-top: 24px;
    background:#fff;
    padding:24px 12px;
    flex: 1 1 auto;
    position: relative;
    transition: opacity .3s;
    // display: flex;
    
}
.item{
    width: 25%; 
    max-width: 25%;
    padding-left: 8px;
    padding-right: 8px;
    flex: 1 1 auto;
    float: left;
}
.items:hover {
    box-shadow: 0 0 25px #ccc;
    transform: scale(1,1);
  }

    .items{
        display: block;
        max-width: 100%;
        margin-bottom: 16px;
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        box-sizing: border-box;
        margin-top: -1px;
        margin-right: -1px;
        margin-left: -1px;
        // background: chocolate;
        border: 1px solid #f0f0f0;
        .picture{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 180px;
            color: #888;
            background-color: #f5f5f5;
            overflow: hidden;
        }
    }

.picture img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    object-fit: cover;
} 

.text{
    padding: 24px;
    margin: -4px 0;
    overflow: hidden;
    line-height: 30px;
    .title{
        overflow: hidden;
        color: #333;
        font-weight: 500;
        font-size: 16px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .description{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


.drawer{
    position: relative;
    z-index: 1;
    overflow: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    .drawerItem{
        flex-grow: 1;
        overflow: auto;
        font-size: 14px;
        line-height: 1.5715;
        word-wrap: break-word;
        .drawerImg{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 360px;
            margin-bottom: 12px;
            color: #888;
            background-color: #f5f5f5;
            overflow: hidden;
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                height: 100%;
                width: 100%;
                transform: translate3d(-50%,-50%,0);
                object-fit: cover;
                border-top-right-radius: var(--border-radius);
                border-top-left-radius: var(--border-radius);
            }
        }
    }
}


.drawerText{
    flex-flow: row wrap;
    .drawerTitle{
        display: block;
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 7px;
        color: rgba(0,0,0,.65);
        overflow: hidden;
        font-size: 12px;
        line-height: 22px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .drawerFilename{
        display: block;
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 7px;
        color: rgba(0,0,0,.65);
        overflow: hidden;
        font-size: 12px;
        line-height: 22px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .drawerType{
        display: block;
        flex: 0 0 50%;
        max-width: 50%;
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 7px;
        color: rgba(0,0,0,.65);
        overflow: hidden;
        font-size: 12px;
        line-height: 22px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .drawerUrl{
        display: block;
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 7px;
        color: rgba(0,0,0,.65);
        overflow: hidden;
        font-size: 12px;
        line-height: 22px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .button{
        line-height: 1.5715;
        position: relative;
        display: inline-block;
        font-weight: 400;
        white-space: nowrap;
        text-align: center;
        background-image: none;
        box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
        cursor: pointer;
        transition: all .3s cubic-bezier(.645,.045,.355,1);
        user-select: none;
        touch-action: manipulation;
        height: 32px;
        padding: 4px 15px;
        font-size: 14px;
        border-radius: 2px;
        color: #000;
        background: #fff;
        border: 1px solid #d9d9d9;
        span{
             color: #0188fb;
            background: transparent;
            border-color: transparent;
            box-shadow: none;
        }
    }
}

