.shareImg {
  width: 100%;
  border-radius: 2px;
  object-fit: cover;
  opacity: 1;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}
.shareImg img {
  display: inline-block;
  width: 375px;
  height: 250px;
}
.shareTitle {
  min-width: 225px;
  padding: 12px 0px;
  border: 0px;
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.85);
  overflow: hidden;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.shareContent {
  display: -webkit-box;
  max-width: 100%;
  padding: 0px 0px 12px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
}
.imgSrc {
  position: relative;
  height: 80px;
  display: flex;
  img {
    display: inline-block;
    width: 64px;
    height: 64px;
  }
  .SrcContent {
    margin-left: 20px;
    font-size: 12px;
  }
}
