.amEditor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  header {
    height: 64px;
    width: 100%;
    border-bottom: 1px solid rgb(235, 237, 240);

    .top {
      padding: 16px 24px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;

      .tleft {

        span {
          font-size: 14px;
        }

        input {
          width: 300px;
          padding-right: 0;
          padding-left: 0;
          border-top: 0;
          border-left: 0;
          border-radius: 0 !important;
          box-shadow: none !important;
          border-right: 0;
          margin-left: 16px;
        }
      }

      .tright {
        span {
          font-size: 16px;
        }
      }
    }

  }

  main {
    border-top: 1rem solid #f4f5f5;
    flex: 1;
    width: 100%;
    section{
      width: 100%;
      height: 100%;
    }
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
