.main {
  padding: 24px;
  box-sizing: border-box;

  .tags {
    display: flex;
    margin-left: -8px;
    margin-right: -8px;
    row-gap: 0px;

    .left {
      background-color: #fff;
      margin: 0 8px;
      box-sizing: border-box;
      max-width: 37.5%;
      flex: 0 0 37.5%;
      border: 1px solid #f0f0f0;

      .ltitle {
        min-height: 48px;
        line-height: 48px;
        margin-bottom: -1px;
        padding: 0 24px;
        color: #333;
        font-weight: 500;
        font-size: 16px;
        background: transparent;
        border-bottom: 1px solid #f0f0f0;
        border-radius: 2px 2px 0 0;
      }

      .linput {
        padding: 24px;
        color: #000;
        font-size: 14px;
        font-variant: tabular-nums;
        line-height: 1.5715;
        list-style: none;
        font-feature-settings: 'tnum';

        input {
          padding: 4px 11px;
          margin-bottom: 25px;
        }
      }
    }

    .right {
      background-color: #fff;
      margin: 0 8px;
      box-sizing: border-box;
      max-width: 59%;
      flex: 0 0 59%;
      border: 1px solid #f0f0f0;

      .ltitle {
        min-height: 48px;
        line-height: 48px;
        margin-bottom: -1px;
        padding: 0 24px;
        color: #333;
        font-weight: 500;
        font-size: 16px;
        background: transparent;
        border-bottom: 1px solid #f0f0f0;
        border-radius: 2px 2px 0 0;
      }

      .span {
        width: 100%;
        padding: 24px;
        box-sizing: border-box;
        margin: 0;

        li {
          display: inline-block;
          padding: 2px 8px;
          border: 1px solid #d9d9d9;
          border-radius: 2px;
          margin: 0 7px 7px 0;
          color: #8e8787;
          line-height: 1.5em;
          transition: all 0.2s ease-in-out;
          cursor: pointer;
        }

        li:hover {
          background-color: #4299e1;
          color: #fff;
        }
      }
    }
  }
}
