#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

// .site-layout {
//   background: #eee;
// }

.ant-layout-header {
  height: 64px;
  padding: 0 50px;
  /* color: rgba(0, 0, 0, 0.85); */
  line-height: 64px;
  background: #fff !important;
}
.abtRow {
  width: 100%;
  height: 25px;
  line-height: 25px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.ant-layout-header .leftHeader {
  // flex: 0 0 50%;
  width: 50%;
  height: 25px;
  line-height: 25px;
  margin-left: 10px;
}
.rightHeader {
  flex: 0 0 50%;
  width: 50%;
  height: 100%;
  line-height: 25px;
  margin-right: 20px;
}
.O8g9pCnM_qIcqSuaJm5uP {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}
._283jLEQ1DhWAe2fw-CeVAf {
  display: flex;
  align-items: center;
  margin-right: 12px;
  color: inherit;
  font-size: 24px;
}
.ant-avatar-sm.ant-avatar-icon {
  font-size: 14px;
}
.anticon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.anticon svg {
  display: inline-block;
}
.ant-layout-sider-children {
  position: fixed;
  left: 0;
  height: 100%;
}
.site-layout {
  overflow-y: auto;
}
