main{
  background: #e7eaee;
  background-color: var(--bg-body);
}
.archiveDeatil {
  width: 1140px;
  background: #e7eaee;
  margin: 0 auto;
  padding: 16px 0 0 0;
  background-color: var(--bg-body);
  display: flex;

  .left {
    width: 804px;
    padding: 16px 0;
    box-sizing: border-box;
    background: white;
    float: left;
    background: var(--bg-second);
    .content {
      background: white;
      padding: 0 16px;
      background: var(--bg-second);
        .header {
            text-align: center;
           img{
            width: 100%;
           }
          h1 {
            font-weight: 700;
            font-size: 40px;
            margin: 16px 0 0 0;
          }
      }
    }
  }
}
.rights_big{
  width: 320px;
  .rights{
    width: 320px;
      margin: 0px 0px 16px 16px;
      position: -webkit-sticky;
      position: sticky;
      top: 1rem;
  }
}

.catalogue{
  width: 100%;
  .cataloguebox{
      color: var(--main-text-color);
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 12px
  }
  ul{
      position: relative;
      max-height: 50vh;
      padding: 0 10px;
      overflow: auto;
  }
  li{
      padding:4px 0px 4px 12px;
      cursor: pointer;
      &:hover{
        color: #ff0064 ;
      }
  }
  
}

