* {
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  color: var(--main-text-color);
  overflow-x: hidden;
}
#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.Dilog {
  position: relative;
  z-index: 100;
  width: 100vw;
  height: 64px;
  background-color: var(--bg);
}
header {
  width: 100%;

}
.header {
  position: relative;
  display: flex;
  align-items: center;
  width: 1140px;
  margin-right: auto;
  margin-left: auto;
  .menu {
    height: 64px;
    margin-right: 4rem;
    color: var(--main-text-color);
    line-height: 64px;
    text-align: left;
    text-align: center;
    img {
      display: inline-block;
      height: 36px;
    }
  }

  .right {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    color: var(--main-text-color);
    font-size: 16px;
    .tab {
      position: relative;
      width: 460px;
      line-height: 50px;
      display: flex;
      justify-content: space-around;
      color: #000 !important;
      color: #292525;
      margin: 0;
      padding: 0;

      a {
        color: #000;
        color: #292525;
        color: var(--bg-footer);
      }
      a:hover {
        color: #ff0064;
      }
      // }
    }
    .navIcon {
      width: 200px;
      line-height: 60px;
      display: flex;
    }
  }
}

.footer {
  width: ;
  padding: 20px 0;
  border-top: 1px solid var(--border-color);
  // color: #c1bdbd;
  background: #292525;
  // background-color: var(--bg-body);
  text-align: center;
  .uls {
    display: inline-flex;
    flex-wrap: nowrap;
    margin: 8px 0 16px;
    li {
      display: inline-block;
      border-radius: 0%;
      height: 24px;
      border-radius: 50%;
      margin: 0 5px;
      text-align: center;
      // background-color:#292525 ;
    }
  }
  .text {
    p {
      font-size: 10px;
      line-height: 15px;
      color: #c1bdbd;
    }
  }
}

.footer .uls li svg {
  path {
    background: #c1bdbd;
  }
  &:hover {
    color: black;
  }
}

.layer {
  // width: 100%;
  // height: 100%;
  position: fixed;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  display: flex;
  justify-content: center;
  z-index: 10;
  .layerr {
    width: 60%;
    height: 400px;
  }
}

.layer .topp {
  width: 90%;
  height: 100px;
  line-height: 100px;
  margin: 0 20px;
}

.layer .topp h1 {
  float: left;
}

.layer .topp b {
  float: right;
  font-size: 20px;
  font-weight: bolder;
}

.layer .search {
  width: 90%;
  height: 40px;
  margin: 0 20px;
  white-space: nowrap;
}

.search input {
  width: 100%;
  height: 100%;
}

.mobileNav {
  position: absolute;
  right: 15px;
  span {
    display: block;
    width: 25px;
    height: 4px;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    opacity: 1;
    transition: all 250ms ease-in-out 0s;
  }
  span:nth-child(2) {
    margin: 5px 0;
    // color: var(--main-text-color);
  }
}
.mobileNav.active {
  span:nth-child(2) {
    opacity: 0;
  }
  span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
}
