.box_right_two {
  // width: 320px;
  // height: 305px;
  // background: white;
  // float: right;
  // background-color: #fff;
  // background-color: var(--bg-second);
width: 320px;
    height: 305px;
    background: white;
    background-color: var(--bg-second);

  ._2b0LQ_j7dN {
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
    color: #000000d9;
    font-weight: 700;
    border-bottom: 1px solid #f0f2f7;
    background-color: #fff;
    background-color: var(--bg-second);
  }
  .two_ul {
    padding: 1rem;
    background-color: #fff;
    background-color: var(--bg-second);
    .two_li {
      cursor: pointer;
      padding: 8px 7px;
      border-radius: var(--border-radius);
      color: rgba(0, 0, 0, 0.56);
      line-height: 1.5em;
      transition: all 0.2s ease-in-out;
      display: flex;
      justify-content: space-between;
      color: var(--bg-footer);
    }
    .two_li:hover {
      color: #ff0064;
    }
  }
}
 
 
