main {
  width: 100vw;
}
.detail {
  background-image: linear-gradient(
    to bottom,
    rgba(103, 255, 134, 0.25),
    #ffffff
  );
  background-color: var(--bg-body);
  display: flex;
  flex-direction: column;
  .container_one {
    width: 1140px;
    height: 38px;
    margin-right: auto;
    margin-left: auto;
    .container_one_box_two {
      position: relative;
      z-index: 2;
      padding-top: 16px;
      a {
        font-size: 14px;
        color: black;
      }
      .ant_breadcrumb_separator {
        margin: 0 5px;
      }
    }
  }
  .container_two {
    width: 1140px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    .container_two_box_one {
      width: 804px;
      padding-top: 16px;
      padding-bottom: 16px;
      .box_one {
        width: 804px;
      }
      .box_one_header {
        color: rgba(0, 0, 0, 0.85);
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
      }
      .box_one_main {
        width: 804px;
        background-color: white;
        margin-top: 16px;
        padding: 16px;

        .main_box {
          width: 772px;
          .main_img {
            width: 770px;
            margin: 16px auto;
            border-radius: 2px;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .main_read {
            .main_read_box {
              display: flex;
              flex: 1;
              flex-direction: column;
              justify-content: space-between;
              overflow: hidden;
              text-align: center;
              margin: 0;
              p {
                margin: 0;
              }
              .main_read_box_title {
                color: rgba(0, 0, 0, 0.85);
                overflow: hidden;
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin: 0;
              }
              .main_read_box_title_two {
                display: -webkit-box;
                max-width: 100%;
                margin-top: 10px;
                margin-bottom: 5px;
                color: rgba(0, 0, 0, 0.65);
                overflow: hidden;
                font-size: 14px;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
              }
              .mian_read_box_date {
                display: inline-block;
                width: 100%;
                margin-top: 3px;
                color: #8590a6;
                font-size: 14px;
                line-height: 20px;
              }
              .main_read_box_button {
                margin-top: 10px;
                button {
                  cursor: pointer;
                  width: 88px;
                  height: 32px;
                  border: 0;
                  outline: none;
                  color: #fff;
                  border-radius: 2px;
                  background: #f40a12;
                  border-color: #f40a12;
                  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
                  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
                }
              }
            }
          }
        }
        .list_ul {
          margin-top: 30px;
          margin-bottom: 0;
          .list_li {
            cursor: pointer;
            opacity: 1;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 44px;
            font-size: 14px;
            line-height: 20px;
            padding-left: 12px;
            padding-right: 16px;
            color: rgba(0, 0, 0, 0.85);
            .list_li_publishAt {
              display: none;
            }
          }
          .list_li:hover {
            color: #ff0064;
            border-radius: 3px;
            background: #e7eaee;
            .list_li_publishAt {
              display: block;
            }
          }
        }
      }
    }
    .container_two_box_two {
      width: 335px;
      padding-top: 16px;
      padding-bottom: 16px;
      .box_two {
        width: 320px;
        display: flex;
        margin-left: 16px;
        flex-direction: column;
        position: sticky;
        top: 1rem;
        .box_two_header {
          width: 320px;
          color: var(--main-text-color);
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          color: rgba(0, 0, 0, 0.85);
        }
        .box_two_main {
          width: 320px;
          margin-top: 16px;
          background-color: white;
          padding: 16px;
          .main_li {
            box-sizing: border-box;
            width: 288px;
            margin: 0;
            padding-bottom: 20px;
            margin-bottom: 12px;
            border-bottom: 1px solid #e7eaee;
            p {
              margin: 0;
            }
            .p {
              display: flex;
              align-items: center;
              .p_title {
                color: rgba(0, 0, 0, 0.85);
                overflow: hidden;
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;
                text-overflow: ellipsis;
              }
              .p_date {
                color: #8590a6;
              }
            }
            .context_text {
              padding-top: 12px;
              display: flex;
              flex-wrap: nowrap;
              .img {
                border-radius: 2px;
                width: 190px;
                max-height: 150px;
                min-height: 100px;
                margin-right: 1rem;
                overflow: hidden;
                img {
                  height: 100%;
                  width: 100%;
                }
              }
              .text {
                width: 82px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .text_title {
                  color: black;
                }
              }
            }
          }
          .main_li:hover {
            .p_title {
              color: #ff0064;
            }
          }
        }
      }
    }
  }
}
