.container{
    width: 100%;
    background-color:#e7eaee;
    
    .container_one {
        width: 1140px;
        height: 38px;
        margin-right: auto;
        margin-left: auto;
        .container_one_box_two {
          cursor: pointer;
          position: relative;
          z-index: 2;
          padding-top: 16px;
          a {
            font-size: 14px;
            color: black;
          }
          .ant_breadcrumb_separator {
            margin: 0 5px;
          }
        }
      }
    .section{
        width: 60%;
        margin: 0 auto;
        display: flex;
        margin-top: 16px;
        justify-content: space-between;
        position: relative;
        .article{
            width: 72%;
            background-color: #fff;
            padding: 1rem;
            .title{
                width: 100%;
                text-align: center;
            }
            .markdown{
                word-break: break-word;
                line-height: 1.75;
                font-weight: 400;
                font-size: 15px;
                overflow-x: hidden;
                letter-spacing: 1.2px;
                color: rgba(0, 0, 0, 0.85);
                h2{
                    padding-bottom: 12px;
                    font-size: 24px;
                    border-bottom: 1px solid #ececec;
                }
                p{
                    line-height: inherit;
                    margin-top: 22px;
                    margin-bottom: 22px;
                }
                ol, ul, dl {
                    margin-top: 0;
                    margin-bottom: 1em;
                    list-style-type: style type auto ;
                }
                img{
                    width: 100%;
                    
                }
            }
            .publish{
                color: #655e5e;
                font-size: 12px;
                line-height: 22px;
                text-align: center;
                margin-bottom: 21px;
            }
            
        }
        .aside_big{
            width:307.55px;
            .aside{
                width:307.55px;
                margin-left: 1rem;
                // position:fixed;
                // right: 382px;
                position: sticky;
                top: 1rem;
                .fingerpost{
                    width: 100%;
                    background-color: #fff;
                    max-height: 260px;
                    overflow: auto;
                    display: flex;
                    flex-direction: column;
                    padding: 13px;
                    margin-bottom: 8px;
                    .header{
                        color: rgba(0, 0, 0, 0.85);
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 22px;
                        margin-bottom: 12px;
                    }
                    .main{
                        cursor: pointer;
                        flex: 1;
                        width: 100%;
                        ul li{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            width: 100%;
                            height: 32px;
                            font-size: 14px;
                            line-height: 20px;
                            padding-left: 12px;
                            padding-right: 16px;
                            color: black;
                        }
                        ul li.active{
                            color: #ff0064;
                        }
                    }
                }
                .catalogue{
                    width: 100%;
                    .mulu{
                        color: var(--main-text-color);
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 22px;
                        margin-bottom: 12px;
                    }
                    ul{
                        position: relative;
                        max-height: 50vh;
                        padding: 0 10px;
                        overflow: auto;
                    }
                    li{
                        padding:11px 0px 4px 12px;
                        cursor: pointer;
                    }
                    li:hover{
                        color: #ff0064;
                    }
                }
            }

        }
        
    }
    
}