.archives {
  box-sizing: border-box;
  padding: 16px 0px;
  display: flex;
  min-height: 100vh;
  background: #e7eaee;
  justify-content: center;
  background-color: var(--bg-body);
  .left {
    width: 804px;
    background: white;
    box-sizing: border-box;
    padding: 16px;
    background-color: #fff;
    background-color: var(--bg-second);
  }
  .right {
    width: 320px;
    height: 840px;
    margin: 0px 0px 16px 16px;
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
  }
}

.box {
  padding: 16px 0;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--bg-second);
  text-align: center;
  background-color: #fff;
  background-color: var(--bg-second);
}
.header {
  padding: 15px 0;
  text-align: center;
  border-bottom: 1px solid #ccc;
 
}
.header .h2 {
  color: red;
}
.header .p {
  color: red;
  font-size: 20px;
}
.main ul li {
  list-style: none;
}

.main .mainbox {
  margin-left: 20px;
}

.mainh2 {
  color: var(--main-text-color);
  font-size: 1.5rem;
}
.mainh3 {
  color: var(--second-text-color);
}
._172XrbegThYDU7WfEHTUpM {
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.uls {
  margin: 0;
  padding-left: 2.5rem;
  padding: 0;
}
.lis {
  list-style: none;
  font-size: 14px;
  color: #000;
  opacity: 1;
  height: 48px;
  transform: none;
}
.lis span {
  color: var(--main-text-color);
  overflow: hidden;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.4;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  font-size: 0.8rem;
  color: var(--bg-footer);
}

.lisspan span span {
  position: absolute;
  top: 17px;
  left: -1rem;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-left: -4px;
  background: var(--disable-text-color);
}

.mainbox .uls :hover {
  color: red;
}
.mainbox .lis :hover {
  color: red;
}

.uls .lis span {
  padding-right: 1em;
  margin: 0;
  color: black;
  font-size: 1rem;
  color: var(--bg-footer);
}
.content {
  color: var(--main-text-color);
  overflow: hidden;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.4;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}
