#root {
  width: 100%;
  height: 100%;
  background-color: var(--bg);
}
.index {
  height: 100%;
  background: #e7eaee;
  background-color: var(--bg-body);
  .container {
    width: 1140px;
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    // background-color: var(--bg-second);
  }
  .swiper {
    flex: 1;
    width: calc(100% - 20rem - 1rem);
    padding-bottom: 1rem;
    .Carousel {
      height: 100%;
      padding: 0.1%;
      background-color: #fff;
      background: var(--bg-second);
      .swiperItem {
        height: 100%;
        position: relative;
      }
      > div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        h2 {
          position: absolute;
          top: 50%;
          left: 58%;
          font-size: 20px;
          color: #fff;
          margin-top: -6%;
          margin-left: -19%;
        }
        p {
          width: 25%;
          position: absolute;
          top: 60%;
          left: 57%;
          font-size: 20px;
          color: #fff;
          margin-top: -6%;
          margin-left: -19%;
          > span {
            margin-left: 4%;
          }
        }
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 1%;
  }
}
._1rLpyiQ0A_8hxxqRAIg_Ct {
  width: 100%;
  background-color: #fff;
  margin-top: 10px;
  background: var(--bg-second);
  padding: 12px;
}
.rigihtLable {
  width: 320px;
  height: 305px;
  background-color: #fff;
  h3 {
    width: 320px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #eee;
  }
  .lableItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    p {
      width: 85px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border: solid 1px #eee;
    }
    p:hover {
      color: #ff0064;
    }
  }
}
.main {
  width: 20rem;
  height: 0;
  margin-left: 1rem;
  padding-bottom: 1rem;
  // background: var(--bg-second);
}
.articleItem {
  border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
  box-shadow: none !important;
}
