:local {
  .main {
    min-height: 100vh;
    // background: var(--bg-body);
    display: flex;
    justify-content: center;
    background-color: var(--bg-body);
    .content {
      width: 1140px;
      height: 872px;
      box-sizing: border-box;
      padding: 16px 0px;
      display: flex;
      
      .box_left {
        width: 804px;
        height: 840px;
        background: white;
        box-sizing: border-box;
        padding: 16px;
        background-color: var(--bg-second);
        .box_list {
          width: 100%;
          height: 100%;
          overflow: hidden;
          .box_list_bor {
            width: 772px;
            height: 150px;
            border-bottom: 1px solid var(--border-color);
            margin-bottom: 18px;
            .box_list_header {
              cursor: pointer;
              width: 772px;
              height: 24px;
              display: flex;
              .header_title {
                cursor: pointer;
                font-weight: 600;
                font-size: 16px;
                color: var(--main-text-color);
                line-height: 22px;
                .height_Color:hover {
                  color: #ff0064;
                }
              }
              .header_time {
                margin-left: 20px;
                color: var(--main-text-color);
              }
            }
            .box_list_main {
              cursor: pointer;
              width: 772px;
              height: 112px;
              background-color: white;
              .list_dl {
                margin: 0;
                padding: 12px 0 0 0;
                display: flex;
                background-color: var(--bg-second);
                .dt_bj {
                  .dt_img {
                    width: 190px;
                    height: 100px;
                    border-radius: 2px;
                  }
                }
                .dd_bj {
                  width: 100%;
                  height: 100px;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  margin: 0 0 0 15px;
                  .dd_top {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    font-size: 15px;
                    color: var(--main-text-color);
                  }
                  .dd_bottom {
                    width: 100%;
                    display: flex;
                    .dd_bottom_left {
                      width: 50px;
                      height: 22px;
                      line-height: 22px;
                      display: flex;
                      justify-content: space-between;
                      align-content: center;
                      color: #8590a6;
                    }
                    .dd_bottom_right {
                      width: 50px;
                      height: 22px;
                      line-height: 22px;
                      margin-left: 15px;
                      display: flex;
                      justify-content: space-between;
                      align-content: center;
                      color: #8590a6;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .box_big_right{
        width: 336px;
        height: 840px;
        .box_right {
        width: 320px;
        margin: 0px 0px 16px 16px;
        position: sticky;
        // position: -webkit-sticky;
        top: 1rem;
        .box_right_one {
          width: 320px;
          height: 259px;
          background: white;
          margin-bottom: 16px;
          background-color: var(--bg-second);
          ._1hh60i8CByuosza1JbgE0Q {
            padding: 1rem;
            border-bottom: 1px solid var(--border-color);
            color: var(--main-text-color);
            font-weight: 700;
            border-bottom: 1px solid #f0f2f7;
          }
          .one_box {
            width: 320px;
            height: 208px;
            .two_box {
              width: 100%;
              height: 100%;
              ._1PytTgSelvgOTMZR4ckInB {
                list-style: none;
                padding: 0 1rem 1rem;
                margin: 0;
                li{
                    cursor: pointer;
                    color: var(--main-text-color);
                    box-sizing: border-box;
                    width: 288px;
                    height: 32px;
                    align-items: stretch;
                    padding-top: 10px;
                }    
                li:hover{
                    color: #ff0064 ;
                }            
              }
            }
          }
        }
        .box_right_two {
          width: 320px;
          height: 305px;
          background: white;
          background-color: var(--bg-second);
          ._2b0LQ_j7dN{
            padding: 1rem;
            border-bottom: 1px solid var(--border-color);
            color: var(--main-text-color);
            // color: #000000d9;
            font-weight: 700;
            border-bottom: 1px solid #f0f2f7;
          }
          .two_ul{
            padding: 1rem;
            .two_li{
              cursor: pointer;
              padding: 8px 7px;
              border-radius: var(--border-radius);
              color: var(--main-text-color);
              line-height: 1.5em;
              transition: all .2s ease-in-out;
              display: flex;
              justify-content: space-between;
            }
            .two_li:hover{
              color: #ff0064 ;
            }
          }
        }
          }
      }
    
    }
  }
}
