* {
  list-style: none;
}

.about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
  overflow-y: auto;
  background: var(--bg-body);

  .container {
    width: 768px;
    margin-right: auto;
    margin-left: auto;

    .img {
      width: 100%;
      max-width: 768px;
      padding-bottom: 1.5rem;
      margin: 0 auto;

      img {
        display: inline-block;
        width: 100%;
        height: auto;
        border-radius: var(--border-radius);
      }
    }

    .title {
      max-width: 768px;
      padding: 0 8px 21px;
      margin: 0 auto;
      padding-top: .5rem;
      p{
        font-size: 24px;
        font-weight: 500;
        color: var(--main-text-color);
      }
    }
  }

  .bottom {
    padding: 1rem 0;
    width: 100%;
    border-top: 1px solid var(--border-color);
    background: var(--bg-body);

    .comitem {
      background-color: var(--bg-second);
      max-width: 768px;
      margin: 0 auto;
      padding: 16px;
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      overflow-x: hidden;

      header {
        display: flex;
        align-items: center;
        border-bottom: none;

        .origin {
          width: 32px;
          height: 32px;
          line-height: 32px;
          font-size: 18px;
          display: inline-block;
          margin-right: 10px;
          border-radius: 50%;
          text-align: center;
          color: #fff;
          font-weight: 450;
        }
      }

      main {
        width: 100%;
        padding: 12px 0px 12px 40px;
        background-color: var(--bg-second);

        p {
          text-align: left;
        }

        img {
          max-width: 100%;
          height: auto;
        }
      }

      footer {
        padding-left: 40px;

        >div {
          font-size: .8rem;
          color: #a6a6a6;

          .reply:hover {
            color: #ff0064;
            cursor: pointer;
          }
        }

        .footchild {
          width: 100%;
          padding: 16px 0;
          color: var(--main-text-color);
          overflow: hidden;

          main {
            width: 100%;
          }

          header {
            display: flex;
            align-items: center;
          }
        }
      }
    }

    .pag {
      background-color: var(--bg-second);
      max-width: 768px;
      margin: 0 auto;
      padding: 16px;
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;
      color: var(--second-text-color);

      ul {
        color: var(--main-text-color);
        a{
          color: inherit;
        }
      }
    }

    .lists {
      max-width: 768px;
      margin: 0 auto;
      height: auto;
      overflow-y: hidden;

      .list {
        width: 100%;
        border-bottom: 1px solid #eee;
        margin-top: 1rem;
        padding: 0 16px;
        color: var(--main-text-color);

        .title {
          width: 100%;
          text-align: left;
          display: flex;

          h3 {
            font-weight: bold;
          }

          h3:hover {
            color: #f00;
          }

          span {
            color: #8590a6;
          }
        }

        dl {
          display: flex;
          flex-wrap: nowrap;
          padding-top: 12px;

          dt {
            .imgs {
              position: relative;
              flex: 0 0 auto;
              width: 190px;
              max-height: 105px;
              min-height: 100px;
              border-radius: var(--border-radius);
              margin-right: 1rem;
              overflow: hidden;

              img {
                position: absolute;
                top: 50%;
                left: 50%;
                height: 100%;
                width: 100%;
                transform: translate3d(-50%, -50%, 0);
                object-fit: cover;
              }
            }
          }

          dd {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            p:nth-child(1) {
              display: -webkit-box;
              max-width: 100%;
              color: var(--main-text-color);
              overflow: hidden;
              font-size: 14px;
              text-overflow: ellipsis;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
            }

            p:nth-child(2) {
              width: 100%;
              color: #8590a6;
              font-size: 14px;
              line-height: 20px;
              margin-top: 0.8rem;
            }
          }
        }
      }
    }
  }
}
