.list {
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid #f0f2f7;
  margin-top: 1rem;
  color: #000;
  background: var(--bg-second);
  padding-bottom: 12px;

  .title {
    width: 100%;
    height: 21.6px;
    text-align: left;
    display: flex;
    line-height: 22px;

    h3 {
      font-weight: bold;
      color: var(--bg-footer);
    }

    h3:hover {
      color: #f00;
    }

    span {
      color: #8590a6;
    }
  }

  dl {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 12px;
    margin-bottom: 0;

    dt {
      .imgs {
        position: relative;
        flex: 0 0 auto;
        width: 190px;
        max-height: 150px;
        min-height: 100px;
        border-radius: var(--border-radius);
        margin-right: 1rem;
        overflow: hidden;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          height: 100%;
          width: 100%;
          transform: translate3d(-50%, -50%, 0);
          object-fit: cover;
        }
      }
    }

    dd {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p:nth-child(1) {
        display: -webkit-box;
        max-width: 100%;
        color: var(--main-text-color);
        overflow: hidden;
        font-size: 14px;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }

      p:nth-child(2) {
        width: 100%;
        color: #8590a6;
        font-size: 14px;
        line-height: 20px;
        margin-top: 0.5rem;
      }
    }
  }
}
