.lable {
  border-radius: var(--border-radius);
  margin-bottom: 1.3rem;
  background-color: var(--bg-second);
  box-shadow: var(--box-shadow);
  line-height: 1.29;
  background-color: #fff;
  background-color: var(--bg-second);
  h3 {
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
    color: var(--main-text-color);
    font-weight: 700;
    
  }
  p {
    cursor: pointer;
    display: inline-block;
    padding: 2px 7px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    margin: 7px 7px 7px 7px;
    color: var(--second-text-color);
    line-height: 1.5em;
    transition: all 0.2s ease-in-out;
  
  }
  p:hover {
    color: #ff0064;
  }
}
