.right {
  border-radius: var(--border-radius);
  margin-bottom: 1.3rem;
  background-color: var(--bg-second);
  box-shadow: var(--box-shadow);
  line-height: 1.29;
  background-color: #fff;
  background-color: var(--bg-second);
  .top_title {
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
    color: var(--main-text-color);
    font-weight: 700;
  }
  .tagItem {
    width: 320px;
    height: 208px;
    padding: 0 1rem 1rem;
    li {
      color: black;
      box-sizing: border-box;
      width: 288px;
      height: 32px;
      align-items: stretch;
      padding-top: 10px;
      time:hover {
        color: #ff0064;
      }
      a {
        color: #000;
        color: var(--bg-footer);
      }
    }
  }
}
