.tags {
  cursor: pointer;
  padding: 1rem;
  background: var(--bg-second);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  color: #ff0064;
  a{
    margin-left: 25px;
    color: black;
    color: var(--bg-footer);
  }
  a:hover{
    color: #ff0064;
  }
}

