@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1625141657239') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kanguo:before {
  content: "\e65e";
}

.icon-huidaodingbu:before {
  content: "\e60f";
}

.icon-biaoqing:before {
  content: "\e648";
}

.icon-icon_fenxiang:before {
  content: "\e619";
}

.icon-shoucang:before {
  content: "\e624";
}

.icon-chat:before {
  content: "\e9b1";
}

.icon-shuqian:before {
  content: "\e6cb";
}

