.con {
  background-color: var(--bg-second);
  max-width: 768px;
  height: 222px;
  margin: 0 auto;
  padding: 16px;
  margin-bottom: 15px;

  .inp {
    width: 736px;
    height: 190px;
    margin: 0 auto;

    .message {
      width: 734px;
      height: 142px;
      margin: 0 auto;
      border: solid 1px #e7eaee;

      .texts {
        border: none;
        width: 730px;
        height: 135px;
        padding: 4px 10px;
        box-sizing: border-box;
        color: #a6a6a6;
        background-color: var(--bg-second);
      }
    }

    p {
      width: 736px;
      height: 48px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      padding-top: 1rem;
      color: #a6a6a6;
      font-size: 14px;

      .reply:hover {
        color: #ff0064;
        cursor: pointer;
      }

      button {
        padding: 4px 18px 4px 18px;
        background-color: var(--bg-second);
        border: 1px solid #ccc;
        transition: all 0.5s;
        cursor: not-allowed;
      }

      .disable {
        cursor: pointer;
        background-color: red;
        color: #fff;
      }
    }
  }
}

.shade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 100px;

  >div {
    padding: 20px;
    background-color: #fff;
    margin: 0 auto;
    width: 500px;
    font-size: 16px;

    >p {
      display: flex;
      justify-content: space-between;
      align-items: center;

      >span:nth-child(2) {
        cursor: pointer;
      }
    }
  }
}

.emojis {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  height: 240px;
  overflow: auto;
  cursor: auto;

  li {
    width: 32px;
    height: 32px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
  }
}
