#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  margin-left: 20px;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
.ant-layout-header {
  background-color: white;
}
.ant-layout-
// .site-layout {
//   margin-left:2px;
// }
.ant-layout.ant-layout-has-sider {
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.rv_9xUBx9vsH6qbhqqmOc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}
.rv_9xUBx9vsH6qbhqqmOc img {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  object-fit: cover;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.rv_9xUBx9vsH6qbhqqmOc span {
  margin-left: 4px;
}
.breads {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
  width: 100%;
  height: 50.6px;
  line-height: 30.6px;
  padding: 0 15px;
  font-size: 14px;
  background-color: #fff;
  border-top: solid 1px #eee;
}
.ant-breadcrumb {
  box-sizing: border-box;
  /* margin: 0; */
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-variant: tabular-nums;
  height: 20px;
  line-height: 20px;
  // line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum', 'tnum';
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  // float: left;
  display: flex;
}
.ant-breadcrumb-link {
  float: left;
  margin-left: 10px;
}
#root{
  width: 100%;
  height: 100%;
}