.article {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  background: #fff;
  border-radius: 2px;
  margin-top: 24px;
  .article_one {
    min-height: 48px;
    margin-bottom: -1px;
    padding: 0 24px;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    background: transparent;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 2px 2px 0 0;
    .ant-card-head-wrapper {
      display: flex;
      align-items: center;
      .ant-card-head-title {
        display: inline-block;
        flex: 1;
        padding: 16px 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .ant-card-extra {
        float: right;
        margin-left: auto;
        padding: 16px 0;
        color: #000;
        font-weight: 400;
        font-size: 14px;
        a {
          color: inherit;
        }
      }
    }
  }
  .article_two {
    margin: -1px 0 0 -1px;
    padding: 0;
    .small_box {
      z-index: 100;
      float: left;
      text-align: center;
      background-color: white;
      width: 33.33%;
      padding: 24px;
      border: 0;
      border-radius: 0;
      box-shadow: 1px 0 0 0 #f0f0f0, 0 1px 0 0 #f0f0f0, 1px 1px 0 0 #f0f0f0,
        inset 1px 0 0 0 #f0f0f0, inset 0 1px 0 0 #f0f0f0;
      transition: all 0.3s;
      .box_content {
        display: inline-block;
        width: 100%;
        border-radius: 4px;
        color: inherit;
        .small_img {
          width: 120px;
          display: inline-block;
          width: 100%;
          height: 110px;
          object-fit: cover;
        }
        .small_p {
          padding: 6px 12px;
          overflow: hidden;
          font-weight: 500;
          text-overflow: ellipsis;
          white-space: nowrap;
          
        }
      }
      p {
        margin: 0;
        padding: 0;
      }
    }
    .small_box:hover{
      cursor: pointer;
      box-shadow: 0 5px 10px 0 #ccc;
    }
  }
  .article_two::before {
    display: table;
    content: '';
  }
}
