<template>
  <div class="ad">
    <img :src="data.banner" alt="" mode="widthFix" />
    <p>广告</p>
    <div class="info">
      <img :src="data.banner" alt="" />
      <span>{{ data.shopName }}</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default: () => {},
    },
  },
};
</script>

<style lang="scss" scoped>
.ad {
  position: relative;
  width: 100%;
  border-radius: 20rpx;
  overflow: hidden;
  border: 1px solid #c0c0c0;
  & > img {
    width: 100%;
  }
  & > p {
    position: absolute;
    top: 30rpx;
    left: 20rpx;
    font-size: 20rpx;
    color: #fff;
  }
}
.info {
  position: absolute;
  bottom: 40rpx;
  left: 20rpx;
  color: #fff;
  img {
    width: 40rpx;
    height: 40rpx;
    border-radius: 50%;
    margin-right: 16rpx;
    vertical-align: -10%;
  }
}
</style>
