<template>
  <div class="rank">
    <p>
      <span></span>
      <span>热门商家</span>
    </p>
    <ul>
      <li v-for="item in data" :key="item.manageShopId">
        <img :src="item.logo" alt="" />
        <div>
          <p>{{ item.shopName }}</p>
          <p>
            <img
              src="https://m.mwfile.cn/mm1005/image/20191024/star.png"
              alt=""
            />
            <img
              src="https://m.mwfile.cn/mm1005/image/20191024/star.png"
              alt=""
            />
            <img
              src="https://m.mwfile.cn/mm1005/image/20191024/star.png"
              alt=""
            />
            <img
              src="https://m.mwfile.cn/mm1005/image/20191024/star.png"
              alt=""
            />
            <img
              src="https://m.mwfile.cn/mm1005/image/20191024/star.png"
              alt=""
            />
          </p>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Array,
      default: () => [],
    },
  },
};
</script>

<style lang="scss" scoped>
.rank {
  width: 100%;
  padding: 10rpx 6rpx;
  box-sizing: border-box;
  background: #c4a07c;
  border: 1px solid #c0c0c0;
}
ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 100rpx;
    height: 100rpx;
    margin-right: 10rpx;
  }
  li {
    width: 100%;
    margin: 10rpx 0;
    background: #fff;
    display: flex;
    align-items: center;
  }
  p:first-child {
    font-size: 22rpx;
    font-weight: 500;
  }
  p:last-child {
    font-size: 20rpx;
    margin-top: 10px;
    display: flex;
    img {
      display: inline-block;
      width: 10px;
      height: 10px;
    }
  }
}
</style>
