.ArticleMain {
  width: 1282.4px;
  height: 875px;
  box-sizing: border-box;
  margin-left: 19px;
  margin-top: 30px;
  .articleLeft {
    margin-bottom: 16px;
    background: #fff;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: 'tnum';
    padding: 24px 12px;
    width: 1282.4px;
    height: 128px;
    // display: flex;
    .input {
      display: flex;
    }
    .btn {
      color: rgba(0, 0, 0, 0.85);
      font-size: 14px;
      font-variant: tabular-nums;
      list-style: none;
      font-feature-settings: 'tnum';
      margin: 0;
      .but {
        background-color: rgb(41, 139, 231);
        color: #fff;
      }
    }
  }
}
.articleRight {
  width: 1282.4px;
  height: 420px;
  background-color: #fff;
}
