* {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .cat_main {
    flex: 1;
    padding: 24px;
    overflow: auto;
    box-sizing: border-box;
    .main_box {
      row-gap: 0px;
      display: flex;
      justify-content: space-between;
      .main_box_o {
        display: block;
        flex: 0 0 37.5%;
        max-width: 37.5%;
        .main_box_one {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          color: #000;
          font-size: 14px;
          font-variant: tabular-nums;
          line-height: 1.5715;
          list-style: none;
          font-feature-settings: 'tnum';
          position: relative;
          background: #fff;
          border-radius: 2px;
          .one_header {
            box-sizing: border-box;
            min-height: 48px;
            margin-bottom: -1px;
            padding: 0 24px;
            color: #333;
            font-weight: 500;
            font-size: 16px;
            background: transparent;
            border-bottom: 1px solid #f0f0f0;
            border-radius: 2px 2px 0 0;
            .ant_card_head_wrapper {
              display: flex;
              align-items: center;
            }
            .ant_card_head_title {
              display: inline-block;
              flex: 1;
              padding: 16px 0;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }
          .one_main {
            box-sizing: border-box;
            padding: 24px;
          }
        }
      }
      .main_box_t {
        display: block;
        flex: 0 0 62.5%;
        max-width: 62.5%;
        .main_box_two {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          color: #000;
          font-size: 14px;
          font-variant: tabular-nums;
          line-height: 1.5715;
          list-style: none;
          font-feature-settings: 'tnum';
          position: relative;
          background: #fff;
          border-radius: 2px;
          .two_header {
            box-sizing: border-box;
            min-height: 48px;
            margin-bottom: -1px;
            padding: 0 24px;
            color: #333;
            font-weight: 500;
            font-size: 16px;
            background: transparent;
            border-bottom: 1px solid #f0f0f0;
            border-radius: 2px 2px 0 0;
            .cat_box {
              display: flex;
              align-items: center;
              .cats {
                display: inline-block;
                flex: 1;
                padding: 16px 0;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }
          }
          .two_main {
              padding: 24px;
              .ZN93PXmnhjDJVgLo_o2fi{
                background-color: #fff;
              }
          }
        }
      }
    }
  }
  