.table {
  width: 1282.4px;
  height: 128px;
  background-color: #fff;
  position: relative;
  .tableTop {
    width: 1282.4px;
    height: 40px;
    line-height: 40px;
    display: flex;
  }
  .btn {
    width: 1282.4px;
    height: 40px;
    margin-top: 50px;
    position: absolute;
    right: 20px;
    left: 1130px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: 'tnum';
    margin: 0;
    .but {
      background-color: rgb(41, 139, 231);
      color: #fff;
    }
  }
}
