.ownspaceList {
  width: 708.4px;
  height: 661.4px;
  display: flex;
  flex-wrap: wrap;
  // flex-flow: row wrap;
  margin-left: 8px;
  margin-right: 8px;
  row-gap: 0px;
  .chunk {
    width: 708.4px;
    max-width: 25%;
    background-color: #fff;
    // margin-left: 20px;
    .item {
      width: 165.1px;
      height: 197px;
      border: solid 1px #eee;
      padding-left: 0px;
      // margin-left:6% ;
      // padding-right: 8px;
      flex: 1 1 auto;
      .picture {
        justify-content: center;
        align-items: center;
        height: 120px;
        margin-bottom: 12px;
        color: #888;
        background-color: #f5f5f5;
        img {
          width: 100%;
          height: 120px;
          object-fit: cover;
        }
      }
      .word {
        display: inline-block;
        overflow: hidden;
        color: #333;
        margin-top: 20px;
        margin-left: 20px;
        width: 115.1px;
        height: 24.8px;
        line-height: 24.8px;
        // font-weight: 500;
        font-size: 16px;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
.item:hover {
  box-shadow: 0 0 20px #ccc;
  transform: scale(1,1);
}
