
.knowledges{
    // width: 98%;
    margin: 24px 16px;
}
.content{
    width: 100%;
    height: 420px;
    margin-top: 24px;
    background:#fff;
    padding:26px 12px;
    flex: 1 1 auto;
    position: relative;
    transition: opacity .3s;
}

.item{
    width: 24%; 
    // max-width: 25%;
    flex: 1 1 auto;
    float: left;
    border: 1px solid #ccc;
    position: relative;
    max-width: 100%;
    min-height: 1px;
    margin-left: 8px; 
    // margin-right: 8px;
     flex: 1 1 auto;
}

    .items{
        display: block;
        max-width: 100%;
        margin-bottom: 16px;
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        box-sizing: border-box;
        margin-top: -1px;
        margin-right: -1px;
        margin-left: -1px;
        // background: chocolate;
       
        .picture{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 180px;
            color: #888;
            background-color: #f5f5f5;
            overflow: hidden;
        }
    }

.picture img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    object-fit: cover;
} 

.text{
    padding: 24px;
    margin: -4px 0;
    overflow: hidden;
    line-height: 30px;
    .title{
        overflow: hidden;
        color: #333;
        font-weight: 500;
        font-size: 16px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.uls{
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fff;
    border-top: 1px solid #f0f0f0;
    li{
        width: 25%;
        float: left;
        margin: 12px 0;
        color: rgba(0,0,0,.85);
        text-align: center;
        span{
            position: relative;
            display: block;
            min-width: 32px;
            font-size: 14px;
            line-height: 1.5715;
            cursor: pointer;
            border-left: 0.5px solid #ccc; 
               
        }
    }
}

.uls li:first-child span{
    border-left:none;
}

