.logins {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #e7eaee;
  .antRow {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    box-shadow: 0 2px 8px #f0f1f2;
    border-radius: 4px;
    display: flex;
    .left {
      position: relative;
      background: #fff;
      top: 30%;
      width: 600.2px;
      height: 520px;
    }
  }
}
.right {
  position: relative;
  top: 30%;
  width: 614.4px;
  height: 520px;
  background-color: rgb(230, 241, 248);
  .loginHeader {
    width: 534px;
    height: 266px;
    margin: auto;
    margin-top: 160px;
    h2 {
      width: 534px;
      height: 24px;
      line-height: 24px;
    }
    .table___UeDcd {
      width: 534px;
      height: 204px;
      margin-top: 20px;
      position: relative;
      left: -15%;
      .ant-col-8 {
        display: block;
        flex: 3%;
      }
      .abtbnt {
        position: relative;
        left: -12%;
      }
      .ant-col-offset-8 {
        margin-left: 3%;
      }
    }
  }
}
.ant-row {
  box-sizing: border-box;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  margin: 0 0 24px;
  vertical-align: top;
}
