.mail{
    margin-top: 20px;
    margin-bottom: 20px;
    .msg{
        line-height: 22px;
        a{
            color: #000;
        }
    }
    .from {
        width: 100%;
        height: 120px;
        background-color: #fff;
        margin-top: 15px;
        margin-bottom: 15px;
        line-height: 40px;
      b{
          float: left;
          line-height: 60px;
          padding-left: 10px;
          font-weight: normal;
      }
        input{
            width: 200px;
            float: left;
            margin-top: 15px;
        }
        button{
            margin-right: 5px;
        }
       
        
    }
    .tab{
        width: 100%;
        background-color: #fff;
    }
}