.ownspace {
  display: flex;
  width: 1260px;
  height: 392px;

  flex-flow: row wrap;
  justify-content: space-around;
  margin-right: 15px;
  margin-top: 40px;
  .antList {
    width: 605px;
    height: 280px;
    color: #000;
    background-color: #fff;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum';
    position: relative;
    box-shadow: 0, 0, 3px, #eee;
    .antListheader {
      width: 605px;
      height: 46px;
      padding-left: 24px;
      padding-right: 24px;
      line-height: 46px;
      border-bottom: 1px solid #f0f0f0;
    }
    ul {
      width: 605px;
      height: 232px;

      li {
        width: 605px;
        height: 46px;
        line-height: 46px;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 0;
        color: #000;
        border-bottom: 1px solid #f0f0f0;
      }
      li:last-child {
        border-bottom: none;
      }
    }
  }
  .antCard {
    margin-left: 3px;
    padding: 0;
    width: 630px;
    height: 392px;
    color: #000;
    background-color: #fff;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum';
    position: relative;
    .antListheader {
      width: 605px;
      height: 46px;
      padding-left: 24px;
      padding-right: 24px;
      line-height: 46px;
      border-bottom: 1px solid #f0f0f0;
      .antCardList {
        padding: 24px;
        .tabList {
          width: 583px;
          height: 45px;
          line-height: 45px;
          position: relative;
          display: flex;
          flex: none;
          align-items: center;
          .antdAvatar {
            position: relative;
            left: 50%;
          }
        }
      }
    }
  }
}
