.setting {
  background-color: #fff;
  height: 100%;
  padding: 16px;
  margin: 24px 24px 0 24px;
  overflow-y: auto;

  .ant-tabs {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    display: flex;

    .tablist {
      position: relative;
      display: flex;
      flex: none;
      align-items: center;
      flex-direction: column;
      min-width: 50px;
    }
  }
}

.icon {
  position: relative;
  padding: 0 11px;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all .3s;
  line-height: 30px;
}

:global {
  .ant-row {
    flex-direction: column;
  }
}
:global{
  .ant-col{
    text-align: left;
  }
}
