.mail{
    margin-top: 20px;
    margin-bottom: 20px;
    .msg{
        line-height: 22px;
        a{
            color: #000;
        }
    }
    .from {
        width: 100%;
        height: 180px;
        background-color: #fff;
        margin-top: 10px;
        padding-top: 10px;
        margin-bottom: 5px;
        line-height: 40px;
      b{
          float: left;
          text-align: right;
          width: 100px;
          line-height: 40px;
          padding-left: 10px;
          font-weight: normal;
      }
        input{
            width: 170px;
            float: left;
            margin-top: 5px;
        }
        button{
            margin-right: 5px;
        }
       
        
    }
    .tab{
        width: 100%;
        background-color: #fff;
    }
}