.header {
  display: flex;
  background-color: white;
  flex-direction: column;
  padding: 0 24px 24px 24px;
  h1 {
    margin-bottom: 0.5em;
    color: #333;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.23;
  }
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  // overflow: hidden;
  padding: 24px;
}
