*{
  margin: 0;
  padding: 0;
  list-style: none;
}
.comment {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum';
    position: relative;
    background: #fff;
    border-radius: 2px;
    margin-top: 24px;
    .comment_one {
      min-height: 48px;
      margin-bottom: -1px;
      padding: 0 24px;
      color: #333;
      font-weight: 500;
      font-size: 16px;
      background: transparent;
      border-bottom: 1px solid #f0f0f0;
      border-radius: 2px 2px 0 0;
      .ant-card-head-wrapper {
        display: flex;
        align-items: center;
        .ant-card-head-title {
          display: inline-block;
          flex: 1;
          padding: 16px 0;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .ant-card-extra{
          float: right;
          margin-left: auto;
          padding: 16px 0;
          color: #000;
          font-weight: 400;
          font-size: 14px;
          a{
              color: inherit;
          }
        }
      }
    }
    .comment_two{
      margin: -1px 0 0 -1px;
      padding: 24px;
      .comment_ul{
        width: 100%;
        .comment_li{
          display: flex;
          display: flex;
          justify-content: space-between;
          align-items:center;
          align-items: center;
          padding: 12px 0;
          border-bottom: 1px solid #f0f0f0;
          // .comment_li_div{

          // }
          .comment_li_ul{
            .comment_li_ul_li{
              display: flex;
            }
          }
        }
      }
    }
  }