<template>
  <div class="brand">
    <div class="header">
      <div class="search">
        <div>
          北京 v
          <div class="ipt">
            <!-- <button>搜索</button> -->
            <!-- <input type="搜索好物"> -->
          </div>
        </div>
      </div>
      <div class="swiper"></div>
      <div class="area">
        <div class="areanav"></div>
      </div>
      <div class="new"></div>
      <div class="super"></div>
    </div>
   <div class="main">
        <div class="main_top">
            <scroll-view scroll-x=true class="scrollx">
                    <ul>
                        <li>全部</li>
                        <li>9.9元购</li>
                    </ul>
            </scroll-view>
            <div class="city">
                <div>全城</div>
                <div>距离优先</div>
                <div>价格区间</div>
            </div>
        </div>
        <div class="main_content">
                <dl>
                    <dt><div></div></dt>
                    <dd>sadsadsadasdsa</dd>
                    <dd><span>9.9</span><span>已售624</span></dd>
                    <dd><span>烧烤</span></dd>
                </dl>
                <dl>
                    <dt><div></div></dt>
                    <dd>sadsadsadasdsa</dd>
                    <dd><span>9.9</span><span>已售624</span></dd>
                    <dd><span>烧烤</span></dd>
                </dl>
                <dl>
                    <dt><div></div></dt>
                    <dd>sadsadsadasdsa</dd>
                    <dd><span>9.9</span><span>已售624</span></dd>
                    <dd><span>烧烤</span></dd>
                </dl>
                <dl>
                    <dt><div></div></dt>
                    <dd>sadsadsadasdsa</dd>
                    <dd><span>9.9</span><span>已售624</span></dd>
                    <dd><span>烧烤</span></dd>
                </dl>
        </div>
    </div> 
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.brand {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #ccc;
  .search {
    width: 100%;
    height: 140rpx;
    position: fixed;
    background: #e8443d;
    z-index: 99;
  }
  .header {
    .swiper {
      width: 100%;
      height: 460rpx;
      background: #0f0;
    }
    .area {
      position: relative;
      width: 90%;
      height: 160rpx;
      margin-left: 5%;
      .areanav {
        width: 100%;
        height: 160rpx;
        position: absolute;
        top: -60rpx;
        border-radius: 50rpx;
        background: #fff;
      }
    }
    .new {
      width: 90%;
      height: 760rpx;
      background: #f60;
      margin-left: 5%;
    }
    .super {
      width: 90%;
      height: 760rpx;
      background: #f89;
      margin-left: 5%;
    }
  }
   .main{
   width: 100%;
   background-color: red;
   .main_top{
       position: sticky;
       top: 0;
       width: 100%;
       background-color: orange;
       .scrollx{
           ul{
               display: flex;
               li{
                   padding: 30rpx;
               }
           }
       }
       .city{
           background-color: red;
           display: flex;
           justify-content: space-around;
           div{
               padding: 40rpx 0;
           }
       }
   }
   .main_content{
       width: 100%;
       background-color: paleturquoise;
       box-sizing: border-box;
       padding: 20rpx;
       display: flex;
       flex-wrap: wrap;
       overflow: auto;
       dl{
           width: 46%;
           height:160rpx;
           margin: 0rpx 15rpx;
           background-color: blue;
       }
   }
 }
}
</style>